    *{
        margin: 0px;
        padding: 0px;
    }

    body{
        background-color: black;
        color: white;

    }
    h3{
        background-color: olivedrab;
        border: 3px solid white;
        margin: 2px;
        text-align: center;
        height: 28px;
        text-transform: uppercase;
        line-height: 26px;
        
    }

    .image{
        width: 48%;
        height: 100vh;
        float: left;
        box-sizing: border-box;
        margin: 12px;
        padding: 12px;
    
    }

    .image img{
        width: 80%;
        height: 100%;
        border: 4px solid white;
        border-radius: 96px;
        margin-left: 2px;
    }

    .about{
        width: 48%;
        height:100vh;
        float:left;
        margin:12px
    }

    .about p{
        color:white;
        line-height: 30px;
        font-size: 25px;
    
        padding:4px;

    }

    .hob{
        display: inline-block;
            width: 100%;
        height: 40vh;
    }


